# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Environment (NUNCA commitar chaves)
.env
.env.local
.env.*.local
google-service-account.json

# EAS
eas-build-*

# Metro
.metro-health-check*

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
